<!-- Conference description Section -->
<section id="description" class="schedule">
    <div class="content-wrapper">
      <div class="schedule-table col-lg-8 col-lg-offset-2 col-s-10 col-s-offset-1">
        <h3>Event Description</h3>
        <div class="row about-details">
          <div class="card text-left">
            <h5>User Conference</h5>
            <p>The QGIS User Conference '23 is an international 2-day *in person* event on April 18 and 19 2023 in The Netherlands. There will be presentations and workshops to get your QGIS knowledge up to date. There will also be space for "unconference" type of meetings, where you can bring your own topics for discussions or workshops and find people who are interested. For sure there will be a wide variety of presentations. The program has not yet been set, but you can find some examples of what to expect at the Schedule page.
            </p>
            <p>Please apply to become a speaker if you have anything to share!
            </p>
            <h5>Contributor Meeting</h5>
          	<p>Directly after the conference, the 25th QGIS Contributor Meeting will start. This is an event for people who contribute to the development of QGIS. It's free to join but you are expected to make yourself useful on improving the QGIS application, documentation or website or anything else QGIS will benefit from.
            </p>
            <p>Especially for newcomers to the Contributor Meeting we planned an Onboarding Day where you can learn the skills you need to be productive during the Contributor Meeting.
  	    		</p>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- End Conference description Section -->
