<!-- Contributor meeting description Section -->
<section id="description" class="schedule">
    <div class="content-wrapper text-left">
      <div class="schedule-table col-lg-8 col-lg-offset-2 col-s-10 col-s-offset-1">
        <div class="row about-details">
          <div class="card text-left">
            <h5>Contributor Meeting</h5>
          	<p>Directly after the conference, the 25th QGIS Contributor Meeting will start. This event, also called "hackfest", is for
              those who contribute to the development of QGIS. It's free to join but you are expected to
              make yourself useful on improving the QGIS application, documentation or website or do anything
              else QGIS will benefit from.
            </p><p>
              Of course you will need to bring your own laptop, but plenty tables, chairs, coffee and wifi will be available.
            </p>
            <h5>Onboarding Day</h5>
            <p>Especially for newcomers to the Contributor Meeting we planned an Onboarding Day where you can
              learn the skills you need to be productive during the Contributor Meeting. The workshops are
              not yet set, but expect subjects like these:
              <ul>
                <li>* Getting around in the QGIS community</li>
                <li>* How to compile QGIS on your local system</li>
                <li>* How to edit QGIS documentation</li>
                <li>* How to translate QGIS to your language</li>
              </ul>
            </p>
            <h5>Accessibility</h5>
            <p>We will use the huge attic, which is split in two compartments. So there will be a quiet part
              for contributors who'd like to concentrate and a more noisy part for those who'd like to interact,
              discuss or present.
            </p>
            <p>
              Unfortunately, the attic is ONLY accessible by stairs and NOT by elevator! We can however provide
              a meeting room on another floor. Please let us know if you're interested in that.
            </p>
            <h5>Subscribe</h5>
            <p>As usual, there's a Github <a href="https://github.com/qgis/QGIS/wiki/25th-Contributor-Meeting-in-'s-Hertogenbosch">wiki page</a> for the meeting.
              Find details about the meeting and subscribe by adding your name and other details in the subscription table. (You need a github account for this.)
            </p>
            <p>
              Please keep an eye on the wiki page for news.
  	    		</p>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- End Contributor meeting description Section -->
