<!-- Begin Location Section -->
<section id="location-map" class="guide-map">
    <div class="content-wrapper">
        <div class="">
            <div id="map" class="guide-canvas-map"></div>
        </div>
    </div>
</section>
<!-- End Location Section -->
