<!-- Begin Hotels-->
<div class="content-wrapper">
    <section class="image-section standart-height" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.hotelsImage }}');">
        <h3>{{ site.hotelsTitle }}</h3>
    </section>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <div>
        <p><br />There are plenty hotels and (Air)B&B's in 's-Hertogenbosch, but it's recommended to BOOK EARLY. Check for example <a href="https://www.booking.com/searchresults.nl.html?ss=s-Hertogenbosch&ssne=s-Hertogenbosch&ssne_untouched=s-Hertogenbosch&efdco=1&lang=en&sb=1&src_elem=sb&src=index&dest_id=-2152943&dest_type=city&checkin=2023-04-18&checkout=2023-04-19&group_adults=1&no_rooms=1&group_children=0&sb_travel_purpose=leisure">booking.com</a>
           for options.</p>
        <p>For the conference we made a deals with a few hotels, who will keep some rooms free for the next weeks and some even give discounts. You'll find those hotels below this section.<br /><br /></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-left">
          {% assign animationDelay = 0 %}
          {% for hotel in site.hotelCards %}
          {% assign colWidth = 12 | divided_by: forloop.length %}
          <div class="col-md-{{ colWidth }} col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
              <div class="card">
                  <h4>{{ hotel.name }}</h4>
                  <p>{{ hotel.text }}</p>
                  <p>{{ hotel.distance }} km</p>
                  <p><a href="{{ hotel.link }}">website</a></p>
                  <p>{{ hotel.deal }}</p>
              </div>
          </div>
          {% assign animationDelay = animationDelay | plus:500 %}
          {% endfor %}
      </div>
  </div>
</div>
</section>

<!-- End Hotels -->
