<div class="location-map-popup">
    <div class="logo logo-dark"></div>
    <p>{{ site.eventLocationName }}</p>
    <ul>
        <li>{{ site.eventStreetAddress }}</li>
        <li>{{ site.eventAddressLocality | replace: "'", "&apos;"}}</li>
        <li>{{ site.eventPostalCode }}</li>
        <li>{{ site.eventAddressCountry }}</li>
    </ul>
    <a href="https://www.openstreetmap.org/directions?from=&to={{ site.eventPlaceCoordinates | replace:' ','' }}" target="_blank">
        Directions
        <svg class="icon-direction" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-direction"></use>
        </svg>
    </a>
</div>
