<!-- Begin Location Section -->
<section id="location-map" class="location-map">
    <div class="content-wrapper">
        <div class="">
            <div id="map" class="canvas-map"></div>
            <div class="row" >
                <div class="col-sm-push-1 col-xs-push-7 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0">
                    <h4>{{ site.eventLocationName }}</h4>
                    <ul>
                        <li>{{ site.eventStreetAddress }}</li>
                        <li>{{ site.eventAddressLocality }}</li>
                        <li>{{ site.eventPostalCode }}</li>
                        <li>{{ site.eventAddressCountry }}</li>
                    </ul>
                    <a href="https://www.openstreetmap.org/directions?from=&to={{ site.eventPlaceCoordinates | replace:' ','' }}" class="">
                        Directions
                        <i><svg class="icon-direction" viewBox="0 0 32 32">
                            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-direction"></use>
                        </svg></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Location Section -->
