<!-- Conference description Section -->
<section id="description" class="schedule">
    <div class="content-wrapper">
      <div class="schedule-table col-lg-8 col-lg-offset-2 col-s-10 col-s-offset-1">
        <h3>Information</h3>
        <div class="row about-details">
          <div class="card text-left schedule-info">
            <p>The schedule can only be defined after the "Call for Presentations" period has passed. But to give you an idea of what the program will be like, here's a bunch of titles that we are expecting or have already been submitted by potential speakers:
              <h5>Presentation examples</h5>
              <ul>
                <li>QGIS Expressions Masterclass</li>
                <li>Dynamic/sensor data in QGIS with OGC SensorThings API plugin</li>
                <li>Automating Infographics with QGIS</li>
                <li>Airport local air quality studies using QGIS</li>
                <li>Property Data Management with PostGIS, PostgreSQl, QGIS and QField</li>
              </ul>
              <h5>Workshop examples</h5>
              <ul>
                <li>Getting started with PyQGIS</li>
                <li>Field Data Collection with QGIS and Mergin Maps</li>
                <li>Building your first QGIS plugin</li>
                <li>QGIS for Hydrological Applications</li>
                <li>QGIS Expressions Masterclass</li>
                <li>QField Cloud</li>
              </ul>
              <h5>Birds of a Feather examples</h5>
              <ul>
                <li>QGIS in education</li>
                <li>Switching to an open source SDI</li>
                <li>Future (online) QGIS User Conferences</li>
                <li>QField Ask me Anything session</li>
              </ul>
            </p>
            <p>
              Workshops for the Onboarding Day have already been scheduled and can be found below. You can subscribe for them on the Contributor Meeting github page by adding your name to the table.
  	    		</p>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- End Conference description Section -->
