<!-- Sessions description Section -->
<section id="description" class="schedule">
    <div class="content-wrapper">
      <div class="schedule-table col-lg-6 col-lg-offset-3 col-s-10 col-s-offset-1">
        <div class="row about-details">
          <div class="card text-left schedule-info">
            <p>These are all currently confirmed sessions for the conference and onboarding day. Exact dates and times will be programmed later.
            </p>
            <p>Due to cancellations there might be changes in the programme, so keep an eye on this page.
  	    		</p>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- End Sessions description Section -->
