<!-- Begin Sessions List -->
{% assign session_types = "keynote,presentation,workshop,other" | split: ',' %}
{% for session_type in session_types %}
<section id="schedule" class="schedule">
  <div class="content-wrapper">
      <div class="col-lg-10 col-lg-offset-1 appear-animation-trigger">
            <div col-12><h3>{{ session_type | capitalize }}s</h3></div>
            {% for session in site.data.sessions %}
              {% if session.display and session.subtype == session_type %}
              <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 appear-animation">
                  <div class="zoe-effect ribbon-activator" data-toggle="modal" data-target="#speakerDetail-{{ session.id }}">
                      <card class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }})">
                        <div id="session-{{ session.id }}" class="slot col-md-{{ slotColWidth }} col-xs-12 flexbox-item-height" data-slot-detail="{{ day.tracks[slotIndex].title }}" data-toggle="modal" data-target="#sessionDetail-{{ session.id }}">
                            <div class="color-line" style="background: {{ day.tracks[slotIndex].color }}"></div>
                            <div class="slot-content" style="border-right-color: {{ day.tracks[slotIndex].color }}">
                                <h5 class="slot-title" itemprop="name">{{ session.title }}</h5>
                                <span class="slot-language">{{session.language | upcase}}</span>
                                <span class="slot-duration">{{session.duration}} minutes</span>
                                <ul class="slot-speakers">
                                    {% for speaker in site.data.speakers %}
                                        {% for session_speaker in session.speakers %}
                                            {% if session_speaker == speaker.id %}
                                            <li itemprop="performer"><div class="speaker-img flow-img img-circle" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }})"></div>
                                              <p class="speaker-name">{{ speaker.name }} {{ speaker.surname }}
                                                  <span class="speaker-position">{{ speaker.company }}</span>
                                              </p>
                                            </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                      </card>
                  </div>
              </div>

              {% endif %}
              {% endfor %}
          </div>
        <!--<a href="{{ site.c4pUrl }}" class="bottom-section-link btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">Become a speaker</a>-->
    </div>
  </section>
    {% endfor %}
<!-- End Sessions List -->
