<!-- Conference description Section -->
<section id="description" class="schedule">
    <div class="content-wrapper">
      <div class="schedule-table col-lg-6 col-lg-offset-3 col-s-10 col-s-offset-1">
        <h3>Information</h3>
        <div class="row about-details">
          <div class="card text-left schedule-info">
            <p>We'd like to offer a wide variety of talks, workshops and discussions, so there will be plenty options for all attendees to both gather and share information, knowlege and ideas.
              <ul>
                <li>The conference is in person and we cannot host online presentations. We will try though to record the presentations and publish them online after the conference.</li>
                <li>All sessions are in English.</li>
                <li>Presentations normally take up to 30 minutes, including time for questions. But there are 15 minute slots too. If you really think you need a 60 minute slot for a presentation, please substantiate your choice.</li>
                <li>Workshops can take up to 3 hours, but don't hesitate to apply for a (much) shorter one. Those can be fun and will be more easily scheduled.</li>
                <li>Birds of a Feather, or discussion groups, are meetings with groups of people who have similar challenges, goals or ideas.</li>
                <li>Deadline is 2023-03-01, when we will schedule the first sessions.</li>
              </ul>
            </p>
            <p>Everyone, including speakers and workshop teachers, are expected to register and pay for the conference.
  	    		</p>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- End Conference description Section -->
