.guide-map {
    font-weight: $light;
}
.guide-map-popup {
    text-align: center;

    .logo {
        width: 185px;
        height: 60px;
        transform: scale(.7);
    }
     .icon-direction {
         vertical-align: middle;
         width: 26px;
         height: 26px;
         margin: 1em 0;
         fill: $link-color;
     }
    p {
        font-weight: bold;
        margin-bottom: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        font-size: 14px;
    }
 }
 .guide-canvas-map {
     width: 100%;
     height: 800px;
 }
