.content-wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
}
.bordered {
    display: inline-block;
    color: rgba(255, 255, 255, .6);
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 0;
    &.dark-border {
        color: rgba(51, 51, 51, .6);
        border-color: rgba(51, 51, 51, .6);
    }
}
.colored {
    color: $primary-color;
    fill: $primary-color;
}
.image-section {
    color: #fff;
    font-weight: $light;
    background-repeat: no-repeat;
    background-position: center center !important;
    background-size: cover !important;
    &.parallax {
	    //background-attachment: fixed;
	    box-shadow: inset 0 0 12px 3px rgba(0, 0, 0, .75);
	}
	&.standart-height {
		min-height: 500px;
	}
}
.bottom-section-link {
    text-transform: uppercase;
    padding: 7px 17px;
}
.card {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin-bottom: 10px;
    padding: 24px 24px 50px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .06), 0 1px 3px rgba(0, 0, 0, .15);
}
.same-height {
    margin-bottom: 15px;
}
.slider {
    padding: 0;
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	&.solid-overlay {
		background: $qgis-dark-green;
	}
  &.white-solid {
    background: rgba(255, 255, 255, .9);
  }
  &.gradient-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .32) 0%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, .64) 100%);
	}
  &.darker-overlay {
    background: rgba(0, 0, 0, 0.2);
  }
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.cols-centered {
    display: inline-block;
    float: none !important;
    margin-right: -4px;
    text-align: left;
}
.hiding {
    opacity: 0;
}
.visible {
    opacity: 1;
}
.flow-img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}
#typed-cursor {
    font-weight: $light;
    animation: blink .7s infinite;
    opacity: 1;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.animated {
    @include animate-prefixer(animation-duration, $base-duration);
    @include animate-prefixer(animation-fill-mode, both);
    &.hinge {
        @include animate-prefixer(animation-duration, $base-duration * 2);
    }
}
.appear-animation {
    transition-timing-function: ease-out;
    transform: scale(0);
    &.visible {
        transform: scale(1);
    }
}
.flexbox-wrapper {
    @include flexbox();
}
.flexbox-item-height {
    @include flex(1);
}
.reset-padding {
    padding: 0;
}
