.location-map {
    font-weight: $light;
}
.location-map-popup {
    text-align: center;

    .logo {
        width: 185px;
        height: 60px;
        transform: scale(.7);
    }
     .icon-direction {
         vertical-align: middle;
         width: 26px;
         height: 26px;
         margin: 1em 0;
         fill: $link-color;
     }
    p {
        font-weight: bold;
        margin-bottom: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        font-size: 14px;
    }
 }

.location-description {
    position: absolute;
    top: 40px;
    z-index: 999;
    padding: 21px 40px;
    text-align: left;
    background: $base-background-color;
    filter: drop-shadow(5px 5px 7px rgba(50, 50, 50, 0.4));
    border-radius: 15px;
    .icon-direction {
         vertical-align: middle;
         width: 26px;
         height: 26px;
         margin: 1em 0;
         fill: $link-color;
     }
    ul {
        margin-top: 26px;
        padding: 0;
        list-style: none;
    }
    li {
        font-size: 14px;
        margin-bottom: 9px;
    }

}
 .canvas-map {
     width: 100%;
     height: 500px;
 }
