.statistic {
	.counter {
		@media (max-width: 767px) {
			padding-top: 26px;
		}
	}
    .stat {
    	font-size: 100px;
	    color: $qgis-dark-orange;
	    @media (min-width: 768px) and (max-width: 991px) {
	    	font-size: 80px;
	    }
	    @media (max-width: 767px) {
			font-size: 70px;
	    }
	}
	.stat-info {
	    font-size: 23px;
	}
	hr {
	    width: 20px;
	    border-top: 1px solid $link-color;
	}
	.small {
	    font-size: 15px;
	}
}
