---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div id="preloader" class="preloader">
        <img class="loader-osgeo" src="/img/preloader/osgeo-emblem.svg">
    </div>

    <div id="st-container" class="st-container disable-scrolling">
        <div class="st-pusher">
            <div class="st-content">

                {{ content }}

                {% include footer.html %}

            </div>
        </div>
    </div>

    {% if page.modal != null %}
    	{% include speakers-modals.html %}
    {% endif %}

    {% if page.permalink == '/sessions/' or page.permalink == '/schedule/' %}
        {% include sessions-modals.html %}
    {% endif %}

    <script src="/js/jquery-2.1.1.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}><\/script>')
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
    if (typeof($.fn.modal) === 'undefined') {
        document.write('<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}><\/script>')
    }
    </script>
    <script src="{{ "/js/default.js" | prepend: site.baseurl }}"></script>
    {% if page.permalink == '/' or page.permalink == '/guide/' %}
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    {% endif %}
    <script>
        Waves.displayEffect();
        {% if page.permalink == '/' %}
            const map = L.map('map')
                .setView([{{ site.eventPlaceLatitude | plus: 0.5}}, {{ site.eventPlaceLongitude }}], 7);
            L.marker([{{ site.eventPlaceLatitude }}, {{ site.eventPlaceLongitude }}])
                .addTo(map)
                .bindPopup('{% include location-map-popup.html %}');
            map.scrollWheelZoom.disable();
            const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; ' + '<a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);
            $(document).ready(function () {
                $(function () {
                    if ($(window).width() > 767) {
                        $("#typeout-text").typed({
                            strings: [{{site.typeoutTextValues}}],
                            typeSpeed: 150,
                            backDelay: 900,
                            loop: true
                        });
                    }
                });
                var rockstarSpeakers = [
                    {% for speaker in site.data.speakers %}
                        {% if speaker.rockstar %}
                        {name: "{{ speaker.name }} {{ speaker.surname }}", company: "{{ speaker.company }}", image: "{{ site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }}"}{% if forloop.index != forloop.length %},{% endif %}
                        {% endif %}
                    {% endfor %}
                ];
                rockstarSpeakers.sort(function() {return 0.5 - Math.random()});
                if(rockstarSpeakers.length > 0) {
                    var animationDelay = 1500,
                        count = Math.min({{ site.rockstarSpeakersCount }}, rockstarSpeakers.length),
                        colWidth = 12/count;
                    for(i=0; i<count; i++) {
                        var clearfix = '<div class="clearfix visible-xs"></div>';
                        if ((i)%2 != 0) {
                            clearfix = ""
                        }
                        $('#rockstar-speaker-title').after('<div class="col-md-'+ colWidth +' col-xs-6 rockstar-speakers-item animated hiding" data-animation="fadeInUp" data-delay="' + animationDelay +'"><div class="rockstar-speaker"><div class="flow-img img-circle rockstar-speaker-img" style="background-image: url(' + rockstarSpeakers[i].image + ')"></div><div class="name">' + rockstarSpeakers[i].name + '</div><div class="sub">' + rockstarSpeakers[i].company + '</div></div></div>' + clearfix);
                        animationDelay -= 500;
                    }
                }
            });
        {% elsif page.permalink == '/guide/' %}
            function onEachFeature(feature, layer) {
                if (feature.properties.name) {
                    var props = feature.properties;
                    var popupHtml = `<div class="guide-map-popup">
                     <p>${props.name}</p>`;
                     if (props.description) {
                         popupHtml = popupHtml + `${props.description}<br><br>`;
                     }
                    if (props.link) {
                        popupHtml = popupHtml + `<a href="${props.link}">Website</a><br>`;
                    }
                     popupHtml = popupHtml + `</div>`;

                    layer.bindPopup(popupHtml);
                }
            }
            function pointToLayer(feature, latlng) {
                var markerImg = 'marker-icon.png';
                switch(feature.properties.type) {
                    case 'bar': markerImg = 'icon-bar-blue.png'; break;
                    case 'fun': markerImg = 'icon-fun-blue.png'; break;
                    case 'restaurant': markerImg = 'icon-restaurant-blue.png'; break;
                    case 'bar': markerImg = 'marker-icon.png'; break;
                    case 'venue': markerImg = 'icon-venue.png'; break;
                    case 'Qrestaurant': markerImg = 'icon-venue-restaurant.png'; break;
                    case 'airport': markerImg = 'icon-airport-blue.png'; break;
                    case 'station': markerImg = 'icon-trainstation-blue.png'; break;
                }

                var markerIcon = L.icon({
                    iconUrl: '/assets/' + markerImg,
                    shadowUrl: '/assets/marker-shadow.png',
                    iconSize:     [25, 41],
                    iconAnchor:   [12, 50],
                    popupAnchor:  [0, -50]
                });
                return L.marker(latlng, {icon: markerIcon});
            }

            const map = L.map('map')
                .setView([51.68996, 5.29316], 15);
            map.scrollWheelZoom.disable();

            const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; ' + '<a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);
            $.getJSON("/assets/poi.geojson", function(data){

                var geoJsonLayer = L.geoJSON(data.features, {
                    onEachFeature: onEachFeature,
                    pointToLayer: pointToLayer
                }).addTo(map);
                /*
                for(var key in geoJsonLayer._layers) {
                    switch(geoJsonLayer._layers[key].feature.properties.type) {
                        case 'bar': geoJsonLayer._layers[key]._icon.style.filter = "hue-rotate(120deg)"; break;
                        case 'restaurant': geoJsonLayer._layers[key]._icon.style.filter = "hue-rotate(120deg)"; break;
                        case 'fun': geoJsonLayer._layers[key]._icon.style.filter = "hue-rotate(280deg)"; break;
                    };
                }*/
            });


        {% elsif page.permalink == '/hackathon/' %}
            if ($(window).width() > 767) {
                var googleMaps = 'hackathon',
                    eventPlace = new google.maps.LatLng({{ site.hackathonPlaceCoordinates }}),
                    centerMap = new google.maps.LatLng({{ site.hackathonMapCenterCoordinates }}),
                    mobileCenterMap = new google.maps.LatLng({{ site.hackathonMapMobileCenterCoordinates }}),
                    icon = '{{ site.baseurl }}/img/other/map-marker.svg';
            } else {
               var staticGoogleMaps = true,
                eventPlaceCoordinates = '{{ site.hackathonPlaceCoordinates | replace:' ','' }}',
                centerMapCoordinates = '{{ site.hackathonMapCenterCoordinates | replace:' ','' }}',
                mobileCenterMapCoordinates = '{{ site.hackathonMapMobileCenterCoordinates | replace:' ','' }}',
                icon = '{{ site.baseurl | prepend: site.url }}/img/other/map-marker.png';
            }

        {% endif %}
    </script>
    <script src="{{ "/js/scripts.min.js" | prepend: site.baseurl }}"></script>
    {% if page.permalink == '/schedule/' %}
        <script type="text/javascript">
            $(document).ready(function () {
                var navHeight = $('#top-header').height();
                var headerHeight = $('.track-header').first().height();
                $('.stick-header').stick_in_parent({sticky_class: 'sticky', offset_top: navHeight});
                $('.stick-label').stick_in_parent({offset_top: navHeight + headerHeight});
            });
        </script>
    {% endif %}

    {% include schema-event.html %}
</body>

</html>
